* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.commuevery{    
    float: right;
    width: 100%;    
    overflow-y: scroll;
}

.active {
    background: #fffae5;    
}

.filteringBox{
    display: inline-block;   
    margin-top: 35px;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 8px;
    background-color: #f6f4eb;   
    border-radius: 500px;
}

.filtering{
	display: inline-block;
	padding-top : 8px;
	padding-bottom : 8px;
    padding-left: 8px;
    padding-right: 8px;
        
    cursor: pointer;     
}

.filtering:hover{
    background-color: #fffae5;
}


.title{
    margin-top: 5px;
    text-align: center;
    height: 10px;
}

.img {
	width: 90%; 
	height: 70%; 
	border: 1px solid lightgrey;	
	margin-left: 5%;
}

.commuBox {
    float: left;
    background-color: #fffae5;
    width: 400px;
    height: 350px;
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 50px;

    cursor: pointer;
    
    border: 0.5px solid black;
    border-radius: 5px;
}

.commuBox > .commuName {
    width: 100%;
    background-color: #fffae5;
    text-align: center;
    margin-top: 15px;
    font-size: x-large;
}

.introduce {
    background-color: #fffae5;
    width: 100%;
    
    padding-inline: 15px;
    padding-top: 20px;
    
    border: 3px solid;
    
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.introduce{
    display: none;
}








#modalWrap {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0);
    display: none;
    
 }
  
#modalBody {
  width: 800px;
  height: 500px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}
#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}
.modaltitle{
  text-align: center;
}

.modalaround{
  display: flex;
  justify-content: center;
  margin-left:30px
  
}

.cmodal_title_box {
	height: 15%;
}

.cmodal_container {
	height: 70%;
}


.moondan{
  width: 100%;
  margin-top: 30px;
}

.modalimg{
  width: 50%;
  float: left;
  height: 100%;  
}

.modalintro{
  background-color: #fffae5;
  height: 100%;
  
  font-size: 20px;
}

.modalintro2 {
  width: 95%;
  margin-left: 2.5%;
}

.commumember{
  text-align: center;
}

.btns{
  padding-top: 15px; 
}

.modalbtn{
  width: 100px;
  margin-left: 200px;
  
  border: 1px solid;  
}

.modalclose{
  width: 100px;
  margin-right: 200px;
  float: right;
  
  border: 1px solid;
}

.commuBox_clone {
  display: none;
}