.feed_modal_content{
    position: fixed;
    z-index: 1;
    left: 27.5%;
    top: 5%;
    
    height: 800px;   
    
    background-color: white;
    display: block;
    
    border: 2px solid;
}

.feed_modal_img_box {
	width: 500px;
	min-width: 50%;
	height: 100%;
	float:left;
}
.imgslide{
	height:700px;
	padding: 25px;
	margin-top:50px;
}
.feed_modal_img_box > img {
	display: flex;
	vertical-align: middle;
	height: 200px;
	max-width: 60%;
}

.feed_modal_container {	
	float: right;
	width: 30%;
	height: 100%;
	
	border-left: 2px solid;
}

.feed_modal_title {
	font-size: 20px;
	padding-left: 5px;
	padding-top: 10px;
	height: 25%;
}

.feed_modal_a_name {	
	text-decoration: none;
	color: black;
}

.feed_modal_closebtn{
	float: right;
	padding-right: 10px;
	cursor: pointer;
}

.feed_modal_feedtext {
	margin-top: 8px;	
}

.feed_modal_comment_container {
    overflow-y: scroll;
    height: 60%
}

.feed_modal_comment_box {
	padding-left: 10px;
	padding-right: 10px;
    margin-bottom: 10px;
}

.comment_time {
	margin-left: 10px;
	color: rgb(115, 115, 115);
}

.comment_text {
	padding-left: 10px;
}

.feed_modal_comment_write {
	margin-bottom: 10px;
}

.feed_modal_items {	
    height: 15%;
}

.feed_modal_items > button {
	width: 24%;
	display: inline;
}
