.feed_modal_content{
    position: fixed;
    z-index: 1;
    left: 27.5%;
    top: 5%;
    
    height: 800px;   
    
    background-color: white;
    display: block;
    
    border: 2px solid;
}

.feed_modal_img_box {
	width: 70%;
	height: 100%;
	float:left;
}

.feed_modal_img_box > img {
	display: flex;
	vertical-align: middle;
	height: 100%;
	max-width: 100%;
}

.feed_modal_container {	
	float: right;
	width: 30%;
	height: 100%;
	
	border-left: 2px solid;
}

.feed_modal_title {
	font-size: 20px;
	padding: 5px;
	padding-top: 15px;
}

.feed_modal_a_name {
	text-decoration: none;
	color: black;
}

.feed_modal_etc {
	width: 30px;
	float: right;
}

.feed_modal_feedtext {
	margin-top: 8px;	
}

.feed_modal_comment_container {
    overflow-y: scroll;
}

.feed_modal_comment_box {
	padding-left: 10px;
	padding-right: 10px;
    margin-bottom: 10px;
}

.comment_time {
	margin-left: 10px;
	color: rgb(115, 115, 115);
}

.comment_text {
	padding-left: 10px;
}

.feed_modal_items {
	bottom: 0%;
		
    width: 50px;
    height: 100%;
}










/* .feed_modalBody {
    width: 500px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: beige;
}

.feed_modal_container {
    display: flex;
    
    justify-content: center;
}

.feed_container_append {
    display: flex;
    justify-content: center;
}

.feed_modal_box {
    float: left;
    align-items: center;
    width: 550px;
    height: 650px;
    border: 5px solid #c9c5a6;
    border-radius: 10px;
    display: block;
}

.feed_closeBtn {
    float: right
}

.feed_thumb {
    width: 505px;
    height: 300px;
    z-index: -1111111;
}

.feed_modal_title {
    display: flex;
    border-bottom: 2px solid;
    border-color: #c9c5a6;
    justify-content: space-between;
}

.feed_modal_title_name,
.feed_modal_title_date,
.feed_modal_title_time,
.feed_modal_title_category,
.feed_modal_title_location {
    width: 20%;
}

.feed_modal_text_box {
    margin-top: 10px;
    border-top: 2px solid;
    border-color: #b8b59b;
    text-align: left;
}

.feed_modal_text {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feed_modal_text,
.feed_modal_title {
    font-size: medium
}

.feed_comment_top img {
    width: 50px;
    height: 100%;
    height: 20px;
}

.feed_comment_bottom {
    border-top: 2px solid;
    border-color: #c9c5a6;
    overflow-y: scroll;
    height: 175px;

}

.feed_comment_bottom_box {
    display: flex;
    text-align: left;
    font-size: small;
    margin-left: 10%;
    padding: 2px;
}

.feed_comment_user {
    font-weight: bold;
} */