* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    border-style: none;
}

body{
    background-color: #e5e2d1;
}

.login_findID_class, .login_findPW_class{
    max-width: 80%;
    width: 600px;
    height: 30%;
    padding: 15px;
    margin: 0 auto;
    text-align: left;
}


.login_container_logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30%; 
    text-align: center;
    margin-top: 50px;
}

#logo {
    text-decoration: none;
    color: black;
    font-size: 70px;    
    margin-bottom: 10px;
}

#logo:hover {
    color: rgb(205, 199, 170);
    font-weight: normal;
}

.login_container_findID, .login_container_findPW {
    padding: 30px;
    border: 1px solid;
    border-radius: 20px;

}

footer{
    max-width: 80%;
    width: 60%;
    height: 30%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}