
.mmake_img_box {
	display: flex;
	justify-content: center; 
}

.bmake_title{
	text-align: center;
}
 
.m_img {
	width: 100px;
	height: 100px;
}

.category{
	display:flex;
}

.largecategory, .smallcategory{
	width : 100%;
}

.smallcategory{
	margin-left:34px;
}

