<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.mapper.CommuMapper">

	<select id="getCommuInfo" resultType="com.hf.domain.CommuInfo">
        <![CDATA[
        SELECT * FROM commu WHERE commuid = #{commuID}
        ]]>
	</select>

	<select id="getCommuPost" resultType="com.hf.domain.Post">
        <![CDATA[
		SELECT * FROM commupost WHERE commuid = #{commuID} order by postTime
        ]]>
	</select>

	<insert id="insertGathering">
        <![CDATA[
        INSERT INTO gathering 
        VALUES (gathering_seq.nextval, #{title}, #{text}, #{commuID}, #{organizer}, 
        TO_DATE(?, 'YYYY/MM/DD\"T\"HH24:MI'), TO_DATE(?, 'YYYY/MM/DD\"T\"HH24:MI'), ?, ?, ?)
        ]]>
	</insert>

	<!-- <select id="getCommuInfo" resultType="com.hf.domain.CommuInfo"> <![CDATA[ 
		SELECT * FROM commu WHERE commuid = #{commuID} ]]> </select> <select id="getCommuInfo" 
		resultType="com.hf.domain.CommuInfo"> <![CDATA[ SELECT * FROM commu WHERE 
		commuid = #{commuID} ]]> </select> -->

</mapper>