<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.mapper.MomentMapper">



<select id="selectMomentsWithContent" resultType="com.hf.domain.MomentWithContent">
    <![CDATA[
  SELECT RN, MOMENTID, WRITER, CATEGORY, LOCATION, TEXT, POSTTIME,
       CONTENTID, REFERENCEID,
       CONTENTPATH1, CONTENTPATH2, CONTENTPATH3, CONTENTPATH4, CONTENTPATH5,
       CONTENTPATH6, CONTENTPATH7, CONTENTPATH8, CONTENTPATH9, CONTENTPATH10
FROM (
    SELECT ROWNUM AS RN, M.MOMENTID, M.WRITER, M.CATEGORY, M.LOCATION, M.TEXT, M.POSTTIME,
           C.CONTENTID, C.REFERENCEID,
           C.CONTENTPATH1, C.CONTENTPATH2, C.CONTENTPATH3, C.CONTENTPATH4, C.CONTENTPATH5,
           C.CONTENTPATH6, C.CONTENTPATH7, C.CONTENTPATH8, C.CONTENTPATH9, C.CONTENTPATH10
    FROM MOMENT M
    LEFT JOIN CONTENTSRC C ON M.MOMENTID = C.REFERENCEID AND C.CONTENTTYPE = 1
    ORDER BY M.MOMENTID ASC)
WHERE RN >= ((#{pageNum} - 1) * 10 + 1) AND RN <= (#{pageNum} * 10)




    ]]>
</select>

<select id="countMomentsWithContent" resultType="int">
    SELECT COUNT(*)
    FROM MOMENT M
    JOIN CONTENTSRC C ON M.MOMENTID = C.REFERENCEID
    WHERE C.CONTENTTYPE = 1
</select>



<select id="searchMoment" resultType="com.hf.domain.MomentWithContent">
    <![CDATA[
        SELECT RN, MOMENTID, WRITER, CATEGORY, LOCATION, TEXT, POSTTIME,
        CONTENTID, REFERENCEID,
        CONTENTPATH1, CONTENTPATH2, CONTENTPATH3, CONTENTPATH4, CONTENTPATH5,
        CONTENTPATH6, CONTENTPATH7, CONTENTPATH8, CONTENTPATH9, CONTENTPATH10
        FROM (
            SELECT ROWNUM AS RN, M.MOMENTID, M.WRITER, M.CATEGORY, M.LOCATION, M.TEXT, M.POSTTIME,
            C.CONTENTID, C.REFERENCEID,
            C.CONTENTPATH1, C.CONTENTPATH2, C.CONTENTPATH3, C.CONTENTPATH4, C.CONTENTPATH5,
            C.CONTENTPATH6, C.CONTENTPATH7, C.CONTENTPATH8, C.CONTENTPATH9, C.CONTENTPATH10
            FROM MOMENT M
            LEFT JOIN CONTENTSRC C ON M.MOMENTID = C.REFERENCEID AND C.CONTENTTYPE = 1
            ORDER BY M.MOMENTID ASC)
        WHERE LOCATION LIKE '%' || #{momentLocation} || '%'
        or CATEGORY LIKE '%' || #{momentLocation} || '%' or WRITER LIKE '%' || #{momentLocation} || '%'
    ]]>
</select>



<select id="selectModalWithContent" resultType="com.hf.domain.MomentWithContent">
    <![CDATA[
  SELECT
    M.MOMENTID,
    M.WRITER,
    M.CATEGORY,
    M.LOCATION,
    M.TEXT,
    M.POSTTIME,
    C.CONTENTID,
    C.REFERENCEID,
    C.CONTENTPATH1,
    C.CONTENTPATH2,
    C.CONTENTPATH3,
    C.CONTENTPATH4,
    C.CONTENTPATH5,
    C.CONTENTPATH6,
    C.CONTENTPATH7,
    C.CONTENTPATH8,
    C.CONTENTPATH9,
    C.CONTENTPATH10
FROM
    MOMENT M
LEFT JOIN
    CONTENTSRC C ON M.MOMENTID = C.REFERENCEID AND C.CONTENTTYPE = 1
WHERE
    M.MOMENTID = #{momentid}
    ]]>
</select>


<select id="modal_LargeCategory" resultType="String">
    <![CDATA[
   SELECT DISTINCT LARGECATE FROM CATEGORY
    ]]>
</select>

<select id="modal_SmallCategory" resultType="String">
    <![CDATA[
   SELECT SMALLCATE FROM CATEGORY WHERE LARGECATE=#{largecate}
    ]]>
</select>

   <insert id="modalUpload" parameterType="com.hf.domain.MomentWithContent">
    <![CDATA[
         INSERT INTO MOMENT (MOMENTID, WRITER, CATEGORY, LOCATION, TEXT, POSTTIME)
        VALUES (
            momentid_seq.nextval,
            #{writer},
            #{category},
            '부산',
            #{text},
            SYSDATE
        )
        ]]>
    </insert>
    
    <insert id="fileUpload" parameterType="com.hf.domain.MomentWithContent">
    <![CDATA[
    INSERT INTO CONTENTSRC (
        CONTENTID, REFERENCEID, CONTENTTYPE, CONTENTPATH1, CONTENTPATH2, CONTENTPATH3,
        CONTENTPATH4, CONTENTPATH5,CONTENTPATH6,CONTENTPATH7,CONTENTPATH8,CONTENTPATH9,CONTENTPATH10
    ) VALUES (
        CONTENTSRC_SEQ.nextval,
        #{referenceID},
        1,
        #{contentPath1, jdbcType=VARCHAR},
        #{contentPath2, jdbcType=VARCHAR},
        #{contentPath3, jdbcType=VARCHAR},
        #{contentPath4, jdbcType=VARCHAR},
        #{contentPath5, jdbcType=VARCHAR},
        #{contentPath6, jdbcType=VARCHAR},
        #{contentPath7, jdbcType=VARCHAR},
        #{contentPath8, jdbcType=VARCHAR},
        #{contentPath9, jdbcType=VARCHAR},
        #{contentPath10, jdbcType=VARCHAR}
    )
    ]]>
</insert>
    <select id="getMaxNumFile"  resultType="Integer">
    SELECT MAX(rownum) FROM (
    SELECT ROWNUM
    FROM CONTENTSRC)

</select>

<select id="getMaxMomentID" resultType="int" >
    SELECT MAX(MOMENTID) FROM MOMENT

</select>

</mapper>