<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.mapper.MyPageMapper">

	<select id="getUserInfo" resultType="com.hf.domain.User">
	
	SELECT UC.CategoryName AS "CategoryName",
        UL.LocationName AS "LocationName",
        U.ID,
        U.PWD,
        U.NAME,
        U.NICKNAME,
        U.Birth,
        U.PNUM,
        U.Gender,
        U.ADDRESS
		FROM Users U
		LEFT JOIN UserCategory UC ON U.Id = UC.UserId
		LEFT JOIN UserLocation UL ON U.Id = UL.UserId
		WHERE id = #{id}
	
	</select>

	<update id="updatePhoneNumber">
		UPDATE users
		SET pnum = #{pnum}
		WHERE id = #{id}
	</update>
	
	<update id="updatePassword" >
		UPDATE users
		SET pwd = #{pwd}
		WHERE id = #{id}
	</update>

</mapper>