<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.mapper.UserMapper">

	<!-- junit test 성공 -->
    <insert id="insertUser">
    <![CDATA[
        INSERT INTO Users (id, pwd, name, nickname, gender, birth, phoneNum, address)
        VALUES (#{id}, #{pwd}, #{name}, #{nickname}, #{gender}, #{birth}, #{phoneNum}, #{address})
        ]]>
    </insert>
    
    <!-- junit test 성공 -->
    <insert id="insertUserLocation" >
        <![CDATA[
        INSERT INTO Userlocation 
        VALUES (userlocation_seq.nextval, #{id}, '집', #{location})
         ]]>
    </insert>
    
    <!-- junit test 성공 -->
    <insert id="insertUserCategory">
    <![CDATA[
        INSERT INTO Usercategory 
        VALUES (userlocation_seq.nextval, #{id}, #{category})
        ]]>
    </insert>
    
    <!-- junit test 성공 -->
    <select id="joinIDcheckpage" resultType="int">
    <![CDATA[
        SELECT COUNT(*) FROM users WHERE id = #{id}
        ]]>
    </select>
    
    <select id="userLogin" resultType="com.hf.domain.User">
	<![CDATA[
	select  * from Users where ID=#{ID} and PWD=#{PWD}
	]]>
	</select>


</mapper>